AWSTemplateFormatVersion: "2010-09-09"

Parameters:

  Prefix:
    Type: String
  ClusterName:
    Type: String
  VPC:
    Type: String
  Subnet1:
    Type: String
  Subnet2:
    Type: String
 
Resources:

{% for z in range(0,LOAD_BALANCERS|length) %}
  LB{{LOAD_BALANCERS[z].NAME}}:  
    Type: "AWS::ElasticLoadBalancingV2::LoadBalancer"
    Properties:
      Name: !Sub "${Prefix}-${ClusterName}-{{LOAD_BALANCERS[z].NAME|lower}}"
      Scheme: {{LOAD_BALANCERS[z].SCHEME}}
{% if LOAD_BALANCERS[z].ATTRIBUTES is defined %}
      LoadBalancerAttributes: 
{% for y in range(0,LOAD_BALANCERS[z].ATTRIBUTES|length) %}
      - Key: '{{LOAD_BALANCERS[z].ATTRIBUTES[y].KEY}}'
        Value: '{{LOAD_BALANCERS[z].ATTRIBUTES[y].VALUE}}'
{% endfor %}
{% endif %}
{% if LOAD_BALANCERS[z].TYPE == 'application' %}
      SecurityGroups: 
{% for y in range(0,LOAD_BALANCERS[z].SECURITY_GROUPS|length) %}
        - Fn::ImportValue: !Sub "${ClusterName}-SecurityGroup{{LOAD_BALANCERS[z].SECURITY_GROUPS[y].NAME}}-GroupId"
{% endfor %}
{% endif %}        
      Subnets:
        - Ref: Subnet1
        - Ref: Subnet2
      Type: {{LOAD_BALANCERS[z].TYPE}}
      IpAddressType: {{LOAD_BALANCERS[z].IP_TYPE | default('ipv4')}}
      Tags: 
        - Key: ClusterName
          Value: !Ref ClusterName
        - Key: Release
          Value: {{TAGS.RELEASE}}
        - Key: Environment
          Value: {{TAGS.ENVIRONMENT_TYPE}}

{% endfor %}
{% for z in range(0,LISTENERS|length) %}
  LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Listener:
    Type: "AWS::ElasticLoadBalancingV2::Listener"
    Properties:
      DefaultActions:
        - TargetGroupArn:
            Ref: LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].TARGET_NAME}}Target
          Type: forward
      LoadBalancerArn:
        Ref: LB{{LISTENERS[z].LB_NAME}}
      Port: {{LISTENERS[z].PORT}}
      Protocol: {{LISTENERS[z].PROTOCOL}}

{% endfor %}
{% for z in range(0,TARGETS|length) %}
  LB{{TARGETS[z].LB_NAME}}{{TARGETS[z].NAME}}Target:
    Type: "AWS::ElasticLoadBalancingV2::TargetGroup"
    Properties:
{% if TARGETS[z].HEALTH_CHECK.INTERVAL is defined %}
      HealthCheckIntervalSeconds: {{TARGETS[z].HEALTH_CHECK.INTERVAL}}
{% endif %}
{% if TARGETS[z].HEALTH_CHECK.PATH is defined %}
      HealthCheckPath: {{TARGETS[z].HEALTH_CHECK.PATH}}
{% endif %}
{% if TARGETS[z].HEALTH_CHECK.PORT is defined %}
      HealthCheckPort: {{TARGETS[z].HEALTH_CHECK.PORT}}
{% endif %}
{% if TARGETS[z].HEALTH_CHECK.PROTOCOL is defined %}
      HealthCheckProtocol: {{TARGETS[z].HEALTH_CHECK.PROTOCOL}}
{% endif %}
{% if TARGETS[z].HEALTH_CHECK.TIMEOUT is defined %}
      HealthCheckTimeoutSeconds: {{TARGETS[z].HEALTH_CHECK.TIMEOUT}}
{% endif %}
{% if TARGETS[z].HEALTHY_THRESHOLD_COUNT is defined %}
      HealthyThresholdCount: {{TARGETS[z].HEALTHY_THRESHOLD_COUNT}}
{% endif %}
{% if TARGETS[z].UNHEALTHY_THRESHOLD_COUNT is defined %}
      UnhealthyThresholdCount:  {{TARGETS[z].UNHEALTHY_THRESHOLD_COUNT}}
{% endif %}
{% if TARGETS[z].MATCHER.HTTPCODE is defined %}
      Matcher:
        HttpCode: {{TARGETS[z].MATCHER.HTTPCODE}}
{% endif %}
      Port: {{TARGETS[z].PORT}}
      Protocol: {{TARGETS[z].PROTOCOL}}
      TargetType: {{TARGETS[z].TARGET_TYPE|default('instance')}}
      VpcId:
        Ref: VPC
{% if TARGETS[z].ATTRIBUTES is defined %}
      TargetGroupAttributes: 
{% for y in range(0,TARGETS[z].ATTRIBUTES|length) %}
        - Key: '{{TARGETS[z].ATTRIBUTES[y].KEY}}'
          Value: '{{TARGETS[z].ATTRIBUTES[y].VALUE}}'
{% endfor %}
{% endif %}

{% endfor %}

Outputs:
{% for z in range(0,LOAD_BALANCERS|length) %}
{% if LOAD_BALANCERS[z].OUTPUT is not defined or LOAD_BALANCERS[z].OUTPUT %}
  LB{{LOAD_BALANCERS[z].NAME}}:
    Value: !GetAtt "LB{{LOAD_BALANCERS[z].NAME}}.DNSName"
    Export:
      Name: !Sub "${ClusterName}-LB{{LOAD_BALANCERS[z].NAME}}-DNSName"
  LB{{LOAD_BALANCERS[z].NAME}}FullName:
    Value: !GetAtt "LB{{LOAD_BALANCERS[z].NAME}}.LoadBalancerFullName"
    Export:
      Name: !Sub "${ClusterName}-LB{{LOAD_BALANCERS[z].NAME}}-FullName"
{% endif %}
{% endfor %}
{% for z in range(0,LISTENERS|length) %}
{% if LISTENERS[z].OUTPUT is not defined or LISTENERS[z].OUTPUT %}
  LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Listener:
    Value: !Ref "LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Listener"
    Export:
      Name: !Sub "${ClusterName}-LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Listener"
  LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Target:
    Value: !Ref "LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Target"
    Export:
      Name: !Sub "${ClusterName}-LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Target"
  LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}TargetFullName:
    Value: !GetAtt "LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Target.TargetGroupFullName"
    Export:
      Name: !Sub "${ClusterName}-LB{{LISTENERS[z].LB_NAME}}{{LISTENERS[z].NAME}}Target-FullName"
{% endif %}
{% endfor %}